<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>BRC Inicio</title>
    
</head>
<body>
    <div class="cont">
        <h1>Calculadora De Recetas</h1>
        <div class="nav">
            <a href="{{ url_for('index') }}">Inicio</a>
            <a href="{{ url_for('recipes') }}">Recetas Anteriores</a>
            <a href="{{ url_for('nueva') }}">Nueva Receta</a>
        </div>
    </div>
    
    <div class="contenido">
        <h2>Bienvenido a la Calculadora De Recetas</h2>
        <h3>Esta aplicación te permite calcular y guardar tus recetas de manera sencilla.</h3>
        <p>¡Comienza a crear tus recetas ahora!</p>
    </div>

    <div class="footer">
        <p>© 2026 BRC Calculadora De Recetas. Todos los derechos reservados.</p>
    </div>

    <script src="{{ url_for('static', filename='js/calc.js') }}"></script>
    <script src="{{ url_for('static', filename='js/storage.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>
</body>
</html>